version: "3.8"

services:
  hourfy:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
    security_opt:
      - apparmor:unconfined
